<section class="jumbotron text-center bg-white">
    <h1>Contact me</h1>
    <p class="mb-4">You can contact me via <a href="https://twitter.com/ivan_delvalle10" target="_blank">Twitter</a> or <a href="mailto:tec.ivandelvaller@outlook.com">email</a></p>
</section>