<section class="bg-white">
    <div class="w-80 d-flex flex-column justify-content-center">
        <div class="card-header text-center display-4"> <span class="fa fa-hand-spock-o"></span> Welcome, human</div>
        <div class="card-body">
            <p class="card-text">Meanwhile.com is a webpage where you can find general information
           about your favorite superheros. To search a superhero information just write her/his name in the box below.</p>
        </div>
    </div>
</section>

<section id="search-section" class="jumbotron mt-2 d-flex flex-column flex-nowrap">
    <div class="w-80 d-flex justify-content-center">
        <form method="GET" action="/superheros ">
            <div class="form-group p-4 row">
                <input type="text" class="form-control" name="name" placeholder="Ex: Batman" required>
                <br>
                <button type="submit" class="btn btn-primary btn-lg btn-block mt-3"> <span class="fa fa-search"></span>
                    Click here to search</button>
            </div>
        </form>
    </div>
</section>